.Note {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  height: 10rem;
  width: 20rem;
  margin: 2rem 0.5rem;
  padding: 0.9rem;
  border-radius: 0.5rem;
  background: #0f3057;
  box-shadow: 7px 7px 14px #0e2b4e, -7px -7px 14px #113560;
  position: relative;
  overflow: hidden;
}

.Note:hover > .EditRemoveBtn {
  transform: translateY(0rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EditRemoveBtn {
  display: flex;
  justify-content: center;
  width: 10rem;
  position: absolute;
  transform: translateY(20rem);
  height: 100%;
}

.EditRemoveBtn button {
  font-size: 25px;
  color: #008891;
  width: 4rem;
  height: 30%;
  border: none;
  border-radius: 0.5rem;
  background: linear-gradient(145deg, #f7f7ee, #d0d0c8);
  box-shadow: 6px 6px 12px #cbcbc3, -6px -6px 12px #fffff9;
}

.EditRemoveBtn button:hover {
  background: #e7e7de;
  box-shadow: inset 6px 6px 12px #cbcbc3, inset -6px -6px 12px #fffff9;
}

.Note:hover {
  background: #e7e7de;
}
