.MainContainer {
  display: flex;
  flex-direction: column;
  color: #e7e7de;
  padding: 0.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.NoteContainer {
  margin: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
